<!DOCTYPE html>
<html ng-app="cacularApp">
<head>
	<meta charset="utf-8">
	<title>Waiter Earnings Calculator</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="panelController">
	<header>
		<h1>Waitstaff Calculator</h1>
	</header>
	<nav>
	
	<ul>
		<li><a href="/" ng-click="tab=1" ng-class="{active:tab==1}">Home</a></li>
		<li class="spacer">|</li>
		<li><a href="/#/new-meal" ng-click="tab=2" ng-class="{active:tab==2}">New Meal</a></li>
		<li class="spacer">|</li>
		<li><a href="/#/earning" ng-click="tab=3" ng-class="{active:tab==3}">My Earning</a></li>
	</ul>
	</nav>
	<div ng-view></div>
	
	<script type="text/javascript" src="libs/angular.js"></script>
	<script type="text/javascript" src="libs/angular-route.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>